.header {
  position: relative;
}
.navbar-header {
  background: transparent;
  height: 65px;
}
.navbar-inverse {
  background: transparent;
  border: 0;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
  border-radius: 0;
  .navbar-toggle {
    float: #{$direction-reverse};
    position: relative;
    color: $white !important;
    background: transparent;
    border: 0;
    margin-#{$direction-reverse}: 20px;
    @include transition();
    .icon-bar {
      background-color: $black;
    }
    &:hover,
    &:focus {
      background-color: transparent;
      .icon-bar {
        background: $black;
      }
    }
  }
  .navbar-collapse {
    @media #{$max-mobile} {
      .navbar-nav {
        position: relative;
        background-color: $white;
        border-color: transparent;
      }
    }
  }
  .navbar-brand {
    padding-top: 10px;
    float: #{$direction};
  }

  .navbar-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    @media #{$max-mobile} {
      position: relative;
    }
    li a {
      color: $main;
      font-size: 1.3rem;
      font-weight: bold;
      letter-spacing: 3px;
      @include transition();
      &:hover,
      &:focus {
        color: $theme-color;
      }
      @media #{$max-medium} {
        font-size: 0.7em;
      }
    }
    .btn-primary {
      margin-left: 10px;
      color: $main;
      background: transparent;
      border: 1px solid $main;
      padding: 10px 20px;
      border-radius: 25px;
      letter-spacing: 0;
      border-top-left-radius: 0px;
      &:hover,
      &:focus {
        color: $white;
        background-color: $main;
      }
    }
    .btn-danger {
      padding: 10px 20px;
      color: $white;
      &:hover,
      &:focus {
        background-color: darken($theme-color, 5%);
      }
    }

    .active a {
      background-color: transparent;
      color: $theme-color;
      &:active,
      &:focus,
      &:hover {
        background-color: transparent;
        color: $theme-color;
      }
    }
  }
}
.affix {
  width: 100%;
  background-color: $white;
  @include shadow(0px, 5px, 25px, -10px, rgba($black, 0.3));
  padding-top: 10px;
  .navbar-nav li a {
  }
}

#side-menu {
  background-color: $white;
  width: 100%;
  .contents {
    margin-top: 50px;
    li {
      margin-bottom: 20px;

      &:hover,
      &:focus {
        a {
          color: $theme-color;
          background: transparent;
        }
      }
      a {
        color: $main;
      }
    }
  }
  .btn-primary {
    background-color: lighten($theme-color, 40%);
    color: $theme-color !important;
    border-top-left-radius: 0;
    &:hover,
    &:focus {
      background-color: $main;
      color: $white !important;
    }
  }
  .btn-danger {
    &:hover,
    &:focus {
      color: $theme-color !important;
    }
  }
}

.avatar {
  img {
    height: 80px;
    width: 80px;
  }
  @media #{$min-mobile} {
    display: none;
  }
}

.mobile {
  @media #{$min-mobile} {
    display: none !important;
  }
  @media #{$max-mobile} {
    display: block;
  }
}
.mega-dropdown {
  position: static !important;
  top: 20px;
}
.mega-dropdown-menu {
  background: url(../img/mega-menu.png);
  background-size: cover;
  padding: 20px;
  width: 80%;
  #{$direction-reverse}: 10% !important;
  top: 60px;
  @include shadow(0px, 0px, 25px, -5px, rgba($black, 0.2));
  @media #{$max-mobile} {
    overflow-y: scroll;
    height: 400px;
  }
  .card {
    margin-top: 20px;
    img {
      @media #{$max-mobile} {
        margin-bottom: 20px;
      }
    }
  }
  ul {
    padding-#{$direction}: 0;
  }
  a {
    text-decoration: none;
  }
  img {
    border-radius: 25px;
  }
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;
}
.left.carousel-control {
  #{$direction-reverse}: 30px;
  #{$direction}: inherit;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
